<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe Borrado <small class="text-danger"> {{ deletedHero }}</small> </h3>
</div>
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button class="btn btn-outline-danger" (click)="removeLastHero()" *ngIf="heroNames.length > 0">
  Borrar último héroe
</button>
<ul class="mt-2 list-group">
  <!-- <li class="list-group-item">Spiderman</li>
  <li class="list-group-item">IronMan</li>
  <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Thor</li>-->
  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
</ul>
